.over {
    width: 100%;
}

.ctnCustom {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.box_shadow_bottom {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.editer_custom h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.editer_custom h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
}

.editer_custom h3 {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}

.classEditer div {
    padding: 16px;
    border: none;
    outline: none;
}